<div class="container">
  <h2 id="title">Welcome to Ember</h2>
  {{#if session.isAuthenticated}}
    <button class="btn btn-primary btn-lg" {{action 'logout'}}>logout</button><br/>
  {{/if}}

  {{outlet}}
</div>
